[submodule "AIBackEnd"]
	path = AIBackEnd
	url = https://github.com/MohamaddMortada/AI-Back-End.git
[submodule "AIDashBoard"]
	path = AIDashBoard
	url = https://github.com/MohamaddMortada/AI-Dashboard.git
[submodule "front_end"]
	path = front_end
	url = https://github.com/MohamaddMortada/AI-Front-End
[submodule "PythonBackEnd"]
	path = PythonBackEnd
	url = https://github.com/MohamaddMortada/AI-Python-BackEnd.git
